{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ username }}!</h1>
    <h2>Your MBTI Type: {{ mbti_type }}</h2>
    
    <img src="{{ avatar_path }}" alt="{{ mbti_type }} Avatar" class="mbti-avatar" style="width: 100px; height: 100px;"/>

    <h3>Your Watchlist</h3>
    <ul class="list-group mb-4">
        {% for movie in watchlist %}
            <li class="list-group-item">{{ movie.title }}</li>
        {% empty %}
            <li class="list-group-item">No movies in your watchlist.</li>
        {% endfor %}
    </ul>
    
    <h3>Your Readlist</h3>
    <ul class="list-group">
        {% for book in readlist %}
            <li class="list-group-item">{{ book.title }}</li>
        {% empty %}
            <li class="list-group-item">No books in your readlist.</li>
        {% endfor %}
    </ul>
{% endblock %}
