{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ username }}!</h1>
    <h2>Your MBTI Type: {{ mbti_type }}</h2>
    
    <img src="{{ avatar_path }}" alt="{{ mbti_type }} Avatar" class="mbti-avatar" style="width: 100px; height: 100px;"/>

    <h3>Your Watchlist</h3>
    <ul class="list-group mb-4">
        {% for movie in watchlist %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ movie.title }}
                <form action="{% url 'remove_from_watchlist' movie.movie_id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </li>
        {% empty %}
            <li class="list-group-item">No movies in your watchlist.</li>
        {% endfor %}
    </ul>
    
    <h3>Your Readlist</h3>
    <ul class="list-group">
        {% for book in readlist %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ book.title }}
                <form action="{% url 'remove_from_readlist' book.book_id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </li>
        {% empty %}
            <li class="list-group-item">No books in your readlist.</li>
        {% endfor %}
    </ul>

    <!-- Feedback Section -->
    <h3>Give Feedback</h3>
    <form action="{% url 'submit_feedback' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="feedback_message"></label>
            <textarea id="feedback_message" name="message" class="form-control" rows="4" placeholder="Enter your feedback here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

    {% if messages %}
    <div class="alert-messages mt-4">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
