{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home - MBTI-Based Recommendations
{% endblock %}

{% block content %}
<div class="container">
    <div class="main-content">
        <img src="{% static 'page_images/girlreading.png' %}" alt="Character Image">
    </div>

    <div class="sidebar">
        <div class="box-top">
            <a href="{% url 'register' %}" class="sign-in-btn">Sign Up</a>
            <a href="{% url 'login' %}" class="log-in-btn">Log In</a>
        </div>

        <div class="box middle">
            <div class="mainpart">
                <div class="logo">
                    <img src="{% static 'page_images/logo.png' %}" alt="Logo">
                </div>
                    </div>
        </div>

        <div class="box-bottom">
            <div class="quiz-prompt">
                <img src="{% static 'page_images/pointer.png' %}" alt="Take the Quiz" class="quiz-image">
                <p class="quiz-text">Explore a world tailored to your MBTI type! <br><a href="https://www.16personalities.com" target="_blank" class="quiz-link">Take the quiz here</a>.</p>
            </div>        
            </div>
</div>
{% endblock %}
