{% extends 'base.html' %}

{% block title %}Movies{% endblock %}

{% block content %}
    <header>
        <h1 class="text-center">Movies</h1>
    </header>
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ movie.image.url }}" alt="{{ movie.title }} Poster" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text"><strong>Description:</strong> {{ movie.description }}</p>
                        <p class="card-text"><strong>Release Date:</strong> {{ movie.release_date|date:"F j, Y" }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-center">No movies available at the moment.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
