{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% load static %}
{% block content %}
<style>
    .navbar {
        background-color: #fff;
        /* border-bottom: 1px solid rgb(167, 163, 163); */
        box-shadow: 0 0 8px rgb(180, 178, 178);
        font-family: Arial, sans-serif;
        padding: 15px 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .logo img {
        width: 100px;
        height: 100%;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 10px;
    }

    button {
        background-color: #604568;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    button a {
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
    }

    button:hover {
        text-decoration: none;
        background-color: #c59bbb;
        box-shadow: 0 0 10px 3px #fff;
        color: #fff;
    }
    button a:hover{
        text-decoration: none;
        color: #fff;
    }
    </style>
<div>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'page_images/logo.png' %}" alt="Logo">
        </div>
        <ul>
            <button><a href="{% url 'about' %}">About</a></button>
            <button><a href="{% url 'top_picks' %}">Top picks</a></button>
            <button><a href="{% url 'dashboard' %}">Dashboard</a></button>
            <button><a href="{% url 'connect' %}">Connect</a></button>
            <button><a href="{% url 'logout' %}" class="logout-btn">Logout</a></button>
        </ul>
    </nav>
</div>
{% endblock %}
